<ol class="breadcrumb">
  <li><a ui-sref="home">Home</a></li>
  <li><a ui-sref="categoryList">Category List</a></li>
</ol>
<h1>These are our Categories. Click to see Menu Items!</h1>
<!-- <a ui-sref="categoryList">Category List</a> &lt;-->
<ol class="dl-horizontal">
  <li ng-repeat="category in categoryList.categories | orderBy: 'name'"><a ui-sref="itemList({categoryId: category.short_name})">{{category.name}} <ul ng-if="category.special_instructions"><li>{{category.special_instructions}}</li></ul></li>
</ol>
